<div class="row">
  <div class="col-md-12">
    <!-- Table displaying coin data -->
    <table *ngIf="coins.length > 0" class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Coin</th>
          <th>Price (USD)</th>
          <th>Market Cap</th>
          <th>24h Change (%)</th>
          <th>24h Volume</th>
          <th>24h High</th>
          <th>24h Low</th>
          <th>Supply</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coin of coins; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <img [src]="coin.image" height="25px" alt="{{ coin.name }}" class="coin-image" />
            {{ coin.name }} ({{ coin.symbol | uppercase }})
          </td>
          <td>{{ coin.current_price | number: '1.5' }}</td>
          <td>{{ coin.market_cap | number }}</td>
          <td [style.color]="get24hChangeColor(coin.price_change_percentage_24h)">
            {{ coin.price_change_percentage_24h | number: '1.2-2' }}
          </td>
          <td>{{ coin.total_volume | number }}</td>
          <td>{{ coin.high_24h | number }}</td>
          <td>{{ coin.low_24h | number }}</td>
          <td>{{ coin.circulating_supply | number }}</td>
        </tr>

        <tr></tr>
      </tbody>
    </table>

    <!-- Message when no data -->
    <div *ngIf="isLoading" class="text-center">
      <p>Loading data...</p>
    </div>
  </div>
</div>
